h1 {
    font-size: 30px;
    color: rgb(70, 62, 93);
    font-weight: lighter;
    align-content: left;
    text-align: center;
    margin-left: 0px;
}

h2 {
    font-size: 28px;
    color: #9b008e;
    font-weight: bolder;
    text-align: center;
    font-weight: Light;
    margin-left: 0;
}